{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <form action="{% url 'displayCategory' %}" method="POST" class="my-3">
        {% csrf_token %}
        <label for="category">Choose a category:</label>
        <select name="category" id="category">
            {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-warning">Select</button>
    </form>



    <div class="row mx-3">
        {% for listing in listings %}
            <div class="card mx-3" style="width: 18rem;">
                <img src="{{ listing.imageUrl }}" class="card-img-top" alt="{{ listing.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <p class="card-text">Price: <strong>${{ listing.price.bid }}</strong></p>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}